.dropdown-submenu {
  position: relative;
  
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}